<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Home</a><br><br>
        <a class="nav-link" href="http://127.0.0.1:8000/add/">Add New Student </a><br><br>
        <a class="nav-link" href="http://127.0.0.1:8000/studlist/">Student List</a>
<!--        <img src="{% static 'images/cheeta.jpg' %}" alt="" >-->
      </div>
      {% block content %}
        {% endblock %}
    </div>
  </div>
</nav>

</body>
</html>